body {
    margin: 0;
}
#container {
    width: 100vw;
}
#navigation {
display: flex;
width: 100%;
height: 80px;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid black;
}
#logo-wrapper {
    width: 70px;
    height: 70px;
    display: flex;
}
#logo {
    width: 100%;
    height: 100%;
}
#form-wrapper {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    width: max-content;
}
#form {
    display: flex;
    justify-content: space-around;
    width: max-content;
}
.login-wrapper {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
}
.login-text {
    display: flex;
    margin-left: 3px;
    margin-right: 3px;
}
.login {
  width: 100px;
  border-radius: 0.375rem;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(128, 147, 151);
}
#settings-date-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#date-wrapper {
    display: flex;
}
.date {
    display: block;
    margin-right: 8px;
}
#settings {
    width: 50px;
    height: 50px;
    background: rgb(52, 150, 52);
    border-radius: 0.5rem;
}
#settings-icon {
    width: 100%;
    height: 100%;
    transform: scale(80%);
}